{% load staticfiles %}
{% verbatim %} 
<div class = 'Ejercicio' >
 
<div class='enunciado'>
<ol type='a'>
<li> Considere la siguiente ecuación de movimiento:
\begin{equation*}a \ddot{x} + b \dot{x} + cx = d\end{equation*}
donde \(a\), \(b\), \(c\) y \(d\) son constantes. En función de estas constantes determine:
</li><ol type='a'>
<li> la posición de equilibrio \(x_{\text{eq}}\).

</li><li> la constante de amortiguamiento \(\gamma\).

</li><li> la frecuencia natural \(\omega_0\).

</li><li> ¿Qué condición tienen que satisfacer las constantes para que \(x(t)\) sea oscilante?. Una vez encontrada la condición, determine la frecuencia de oscilación del sistema.
</li></ol>

\bigskip

</li><li> Considere la siguiente ecuación de movimiento:
\begin{equation*}A \ddot{x} + B \dot{x} + Cx = Dt + E\end{equation*}
donde \(A\), \(B\), \(C\), \(D\) y \(E\) son constantes.
</li><ol type='a'>
<li> Determine la solución homogénea \(x_h(t)\) para el amortiguamiento débil en función de las constantes \(A\), \(B\), \(C\), \(D\) y \(E\).

</li><li> Si la solución particular es de la forma \(x_p(t) = c_1 t + c_2\). Determine las constantes \(c_1\) y \(c_2\) en función de las constantes \(A\), \(B\), \(C\), \(D\) y \(E\).

</li><li> Grafique de forma general la solución homogénea \(x_h(t)\), la solución particular \(x_p(t)\) y la solución \(x(t) = x_h(t) + x_p(t)\). Realice las tres curvas en el siguiente gráfico indicando el nombre de cada curva.
</li></ol>
</li></ol>

</div><div class='solucion'>

<ol type='a'>
<li>
</li><ol type='a'>
<li> La ecuación de movimiento es:
\begin{equation*}\ddot{x} + \dfrac{b}{a} \dot{x} + \dfrac{c}{a} x = \dfrac{d}{a}\end{equation*}

La posición de equilibrio es:
\begin{align*}\dfrac{c}{a} x_{\text{eq}} &= \dfrac{d}{a} \\x_{\text{eq}} &= \frac{d}{c}\end{align*}

</li><li>
\begin{align*}2 \gamma = \frac{b}{a} \\\gamma = \frac{b}{2a}\end{align*}

</li><li>
\begin{align*}\omega_0^2 = \frac{c}{a} \\\omega_0 = \sqrt{\frac{c}{a}}\end{align*}

</li><li>
\begin{align*}\omega &= \sqrt{ \omega_0^2 - \gamma^2 } \\\omega &= \sqrt{ \dfrac{c}{a} - \dfrac{b^2}{4a^2} } \\\omega &= \dfrac{1}{2a} \sqrt{ 4ac - b^2}\end{align*}
La condición para que exista oscilación es \(4ac - b^2 > 0\).
</li></ol>

</li><li>
</li><ol type='a'>
<li> La ecuación de movimiento homogénea es:
\begin{equation*}\ddot{x} + \dfrac{B}{A} \dot{x} + \dfrac{C}{A} x = 0\end{equation*}

La solución homogénea \(x_h(t)\) es de la forma:
\begin{equation*}x_h(t) = A_1 e^{-\gamma t} \cos \left( \omega_1 t + \phi_1 \right)\end{equation*}

De forma análoga al ítem anterior, obtenemos las frecuencias \(\omega_0\), \(\gamma\) y \(\omega_1\) como:
\begin{align*}\omega_0 &= \sqrt{\frac{C}{A}} \\\gamma &= \frac{B}{2A} \\\omega_1 &= \sqrt{ \frac{C}{A} - \frac{B^2}{4A^2}}\end{align*}

Por lo tanto, la solución es:
\begin{equation*}x_h(t) = A_1 e^{-\frac{B}{2A} t} \cos \left( \sqrt{ \frac{C}{A} - \frac{B^2}{4A^2}} \ t + \phi_1 \right)\end{equation*}
donde \(A_1\) y \(\phi_1\) se obtienen con las condiciones iniciales del problema.

</li><li>
\begin{align*}x_p(t) &= c_1 t + c_2 \\\dot{x}_p(t) &= c_1 \\\ddot{x}_p(t) &= 0\end{align*}

Reemplazando en la ecuación de movimiento obtenemos:
\begin{align*}A \ddot{x} + B \dot{x} + Cx &= Dt + E \\B c_1 + C \left( c_1 t + c_2 \right) &= Dt + E\end{align*}

Obtenemos dos ecuaciones:
\begin{align*}C c_1 &= D \\B c_1 + C c_2 &= E\end{align*}

Las constantes son:
\begin{align*}c_1 &= \frac{D}{C} \\c_2 &= \frac{CE-BD}{C^2}\end{align*}

</li><li>
\begin{align*}x_h(t) &= A_1 e^{-\frac{B}{2A} t} \cos \left( \sqrt{ \frac{C}{A} - \frac{B^2}{4A^2}} \ t + \phi_1 \right) \\x_p(t) &= \frac{D}{C}t + \frac{CE-BD}{C^2} \\x(t) &= A_1 e^{-\frac{B}{2A} t} \cos \left( \sqrt{ \frac{C}{A} - \frac{B^2}{4A^2}} \ t + \phi_1 \right) + \frac{D}{C}t + \frac{CE-BD}{C^2}\end{align*}


{% endverbatim %}<img src='{% static 'Preguntas/oscilaciones08/1.svg' %}' class='center'>{% verbatim %}

</li></ol>
</li></ol>
</div> 

</div>
{% endverbatim %} 