.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.btn-dark, .btn-dark:active {
  background-color: #2a24ae !important;
}

.btn-dark:hover:enabled,  .btn-dark:visited {
    background-color: #332df4 !important;
}

.btn-dark:disabled, .btn-dark:hover:disabled {
  background-color: #525482 !important;
}

.dropdown-item.active {
  background-color: #2921b2 !important;
}




