{% extends 'base.html' %}
{% load staticfiles %}
{% block estilos %}
  <link rel="stylesheet" type="text/css" href="{% static 'material-form.css' %}">
{% endblock %}

{% block contenido %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="card" style="margin:50px 0">
        <div class="card-header">Elegir tópico del material:</div>
        <form action="." method="get">
          <ul class="list-group list-group-flush">
              {% for materia in materias %}
                <li class="list-group-item">
                    {{ materia.topico }}
                  <label class="switch">
                    <input type="checkbox"
                           id="materia"
                           name="materia"
                           class="{% cycle 'success' 'primary' 'warning' 'default' 'info' %}"
                           value="{{ materia.topico }}">
                    <span class="slider round"></span>
                  </label>
                </li>
              {% endfor %}
              <li class="list-group-item">
                Marcar todos
                <label class="switch">
                  <input type="checkbox" id="select_all" name="select_all" class="danger">
                  <span class="slider round"></span>
                </label>
              </li>
          </ul>
          <div class="row justify-content-md-center" style="margin:10px 0">
            <button type="submit" class="btn btn-dark" id="input-aceptado" disabled>
              Elegir Materia
            </button>
          </div>
        </form>
      </div>
    </div>

    <script>
        $(document).ready(function () {
            $(document).change(function () {
                var checkedNum = $('input[id="materia"]:checked').length;
                if (!checkedNum) {
                    $('#input-aceptado').attr("disabled", true);
                } else {
                    $('#input-aceptado').attr("disabled", false);
                }
            });
        });
        $('#select_all').change(function() {
            var checkboxes = $(this).closest('form').find(':checkbox');
            checkboxes.prop('checked', $(this).is(':checked'));
        });
    </script>
  </div>

{% endblock %}
