{%  extends 'base.html' %}
{% block contenido %}
  <div class="container" style="margin-top: 20px">
  <div class="card">
  <center><h1>¿QUIENES SOMOS?</h1></center>
  <center><p style="font-size: larger"> Somos dos personas que buscan crear un sitio web que permita encontrar material de estudio de física fácilmente, así como crear certamenes en requests con preguntas aleatorias, e incluir material de estudio para los alumnos. Este será el homepage para cualquier persona que quiera pasar 130 fácilmente.</p></center>
  </div>
  </div>
{% endblock %}
