{% extends 'base.html' %}
{% load staticfiles %}
{% block estilos %}
  <link rel="stylesheet" type="text/css" href="{% static 'material-form.css' %}">
{% endblock %}


{% block contenido %}
  <div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="margin:50px 0">
      <div class="card-header">Tópicos elegidos:</div>
      <ul class="list-group list-group-flush">
          {% for mat in materia %}
            <li class="list-group-item">{{ mat }}</li>
          {% endfor %}
      </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="margin:50px 0">
        <div class="card-header">Subtópicos elegidos:</div>
          <ul class="list-group list-group-flush">
              {% for submat in submateria %}
                <li class="list-group-item">
                    {{ submat }}
                </li>
              {% endfor %}
          </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="margin:50px 0">
        <div>
          <p>Libros y lecturas encontradas:</p>
          <ul>
              {% for estudio in estudios %}
                <li>
                  <form target="_blank" method="POST">
                  {% csrf_token %}
                    <input type="hidden" id="estudio-leido" name="estudio-leido" value={{ estudio.id }}>
                    <input type="hidden" id="ruta-leido" name="ruta-leido" value="{% static estudio.ruta %}">
                    <button type="submit" name="estudio-usuario" value="estudio-usuario" class="btn-link" style="border: none;">{{ estudio.nombre }}</button>
                  </form>
                </li>
              {% endfor %}
          </ul>
        </div>
    </div>
  </div>
  </div>

{% endblock %}
