{% extends 'base.html' %}
{% load staticfiles %}
{% block estilos %}
  <link rel="stylesheet" type="text/css" href="{% static 'material-form.css' %}">
{% endblock %}

{% block contenido %}
  <div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="margin:50px 0">
      <div class="card-header">Tópicos elegidos:</div>
      <ul class="list-group list-group-flush">
          {% for mat in materia %}
            <li class="list-group-item">{{ mat }}</li>
          {% endfor %}
      </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="margin:50px 0">
        <div class="card-header">Subtópicos elegidos:</div>
          <ul class="list-group list-group-flush">
              {% for submat in submateria %}
                <li class="list-group-item">
                    {{ submat }}
                </li>
              {% endfor %}
          </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="margin:50px 0">
        <div>
          <p>Material de estudio encontrado:</p>
          <ul>
              {% for pregunta in preguntas %}
                <li><a href="{{ pregunta.ruta }}">LINK MATERIAL</a></li>
              {% endfor %}
          </ul>
        </div>
    </div>
    <div class="col-md-6" style="margin:50px 0">
        <div>
          <p>Preguntas de certamen encontradas:</p>
          <ul>
              {% for pregunta in preguntas %}
                <li><a href="{{ pregunta.ruta }}">LINK-MATERIAL</a></li>
              {% endfor %}
          </ul>
        </div>
    </div>
  </div>
  </div>

{% endblock %}
